In [12]:
n=int(input("enter the number n "))
i=2

while (i<n):
    if n%i == 0 :
        print('not prime')
        break
    i=i+1
else:
    print('prime')

not prime

In [18]:
n=int(input('Enter a number '))
i=1
while (i<=n):
 j=1
 while(j<=n):
     print('*',end='')
     j=j+1
 print()
 i=i+1

*****
*****
*****
*****
*****

In [23]:
n=int(input('enter the n:'))
i=1
while(i<=n):
 j=1
 while(j<=n):
  print(i,end='')
  j=j+1
 print()
 i=i+1

111
222
333

In [24]:
n=4
i=1
while(i<=n):
 j=1
 while(j<=n):
     print('*',end='')
     j=j+1
 print()
 i=i+1

****
****
****
****

In [27]:
n=4
i=1
while(i<=n):
 j=1
 while(j<=n-i+1):
     print('*',end="")
     j=j+1
 print()
 i=i+1

****
***
**
*

In [31]:
n=int(input('n'))
i=1
while (i<=n):
 j=1
 while(j<=i):
  print(j,end='')
  j+=1
 print()
 i+=1

12345
12345
12345
12345
12345

In [6]:
n=int(input(''))
i=1
while(i<=n):
  print(i,end='')
  i+=1

1234

In [9]:
n=int(input('n'))
i=1
while(i<=n):
    print(n,end='')
    n-=1

25242322212019181716151413121110987654321

In [12]:
n=int(input('n'))
i=1
while(i<=n):
 if i%2==0:
     print(i , end='  ')
 i=i+1

2  4  6  8  10  12  14  16  18  20

In [13]:
n=int(input('n'))
i=1
while(i<=n):
 if i%2!=0:
     print(i , end='  ')
 i=i+1

1  3  5  7  9  11  13  15  17  19  21  23  25  27  29  31  33  35  37  39  41  43  45  47  49

In [17]:
#sum of all natural numbers 
n=int(input('enter the value of N '))
i=1
sum=0
while(i<=n):
    sum=sum+i
    i=i+1
print(sum)

210

In [20]:
#find sum of even number till  n 
n=int(input('Enter the value of  n'))
i=1
sum=0
while(i<n):
 if i % 2== 0:
    sum=sum+i
 i=i+1
    
print(sum)

90

In [8]:
n=int(input('enter n'))
i=1
while(i<=n):
    j=1
    while(j<=n):
        print(j,end='')
        j=j+1
    print()
    i=i+1

1234
1234
1234
1234

In [13]:
n=int(input('n'))
i=1
while(i<=n):
    j=n
    while(j>=1):
     print(j,end='')
     j=j-1
    print()
    i=i+1

321
321
321

In [15]:
n=10
i=1
while(i<n):
    j=1
    while(j<n):
        print(j,end='')
        j=j+1
    print()
    i=i+1

123456789
123456789
123456789
123456789
123456789
123456789
123456789
123456789
123456789

In [33]:
n=4
i=1
count=1
while(i<n):
    j=1
    while(j<n):
     print(count,end='  ')
     count=count+1
     j=j+1
    print()
    i=i+1

1  2  3
4  5  6
7  8  9

In [36]:
n=4
i=1
while(i<=n):
    j=1
    while(j<=i):
        print('#',end='')
        j=j+1
    print()
    i=i+1

#
##
###
####

In [ ]:
n=4
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(i,end='')
        j=j+1
    print()
    i=i+1

In [37]:
n=4
i=1
count=1
while(i<=n):
    j=1
    while(j<=i):
        print(count,end='')
        count=count+1
        j=j+1
    print()
    i=i+1

1
23
456
78910

In [39]:
n=4
i=1
while(i<=n):
    j=1
    while(j<=i):
        print(i,end='')
        j=j+1
    print()
    i=i+1

1
22
333
4444

In [46]:
n=5
i=1
while(i<=n):
    j=1
    while(j<=n-i+1):
        print('*',end='')
        j=j+1
    print()
    i=i+1

*****
****
***
**
*

In [ ]:
n=5
i=1
while(j<=n):
    j=1
    while()

In [4]:
n=4
i=1
sum=0
while(i<=n):
    j=1
    while(j<=i):
        sum=sum+1
        print(sum,end='')
        j=j+1
    print()
    i=i+1

1
23
456
78910

In [5]:
n=4
i=1
value=1
while(i<=n):
    j=1
    while(j<=i):
        print(value,end='')
        value=value+1
        j=j+1
    print()
    i=i+1

1
23
456
78910

In [10]:
n = 4
i = 1
while i <= n:          # outer loop for rows
    j = 0
    while j < i:       # inner loop for printing numbers
        print(i+j, end='')   # row starts from i, then i+1, i+2 ...
        j += 1
    print()            # new line after each row
    i += 1

1
21
321
4321

In [14]:
i=1
n=int(input('n'))
while(i<=n):
    j=0
    while(j<i):
        print(i-j,end='')
        j=j+1
    print()
    i=i+1

1
21
321
4321

In [18]:
i=1
n=3
while(i<=n):
    j=1
    while(j<=n):
        print(i,end='')
        j=j+1
    print()
    i=i+1

111
222
333

In [22]:
i=1
n=3
while(i<=n):
    j=1
    while(j<=n):
        char=chr('A'+i-1)
        print(char,end='')
        j=j+1
    print()
    i=i+1

TypeError: can only concatenate str (not "int") to str

In [24]:
n=int(input("enter n"))
i=1
while(i<=n):
    #space print karlo
    space = n-i
    while(space):
        print('',end='')
        space=space-1
        j=1
        while(j<=i):
            print('*',end='')
            j=j+1
        print()
    i=i+1

*
*
*
*
**
**
**
***
***
****

In [33]:
i=1
n=int(input('n'))
while i<=n:
    j=1
    while(j<=n-i):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=i):
        print('*',end='')
        k=k+1
    print()
    i=i+1

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

    *
   **
  ***
 ****
*****

In [36]:
n=4
i=1
while i<=n:
    j=1
    while(j<=n-i+1):
        print('*',end='')
        j=j+1
    print()
    i=i+1

****
***
**
*

In [2]:
i=1
n=int(input('n'))
while i<=n:
    j=1
    while(j<=i-1):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=n-i+1):
        print('*',end='')
        k=k+1
    print()
    i=i+1

****
 ***
  **
   *

In [6]:
n=int(input("n"))
i=1
while(i<=n):
    j=1
    while(j<=n-i):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=i):
        print(i,end='')
        k+=1
    print()
    i=i+1

   1
  22
 333
4444

In [14]:
n=int(input("n"))
i=1
while(i<=n):
    j=0
    while(j<=i-1):
        print(' ',end='')
        j=j+1
    k=0
    while(k<n-i+1):
        print(i+k,end='')
        k+=1
    print()
    i=i+1

 1234
  234
   34
    4

In [22]:
n=int(input("n"))
i=1
sum=1
while(i<=n):
    j=1
    while(j<=n-i):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=i):
        print(sum,end='')
        sum=sum+1
        k=k+1
    print()
    i=i+1

   1
  23
 456
78910

In [38]:
n=int(input("n"))
i=1
while(i<=n): 
    j=1
    while(j<=n-i):# 1st triangle
        print(' ',end='')
        j=j+1
    k=1
    while(k<=i): # 2nd trinagle 
        print('*',end='')
        k=k+1
    l=i-1
    
    # 3rd Triangle
    
    while(l>=1):
        print('*',end='')
        l=l-1
    print()
    i=i+1

   *
  ***
 *****
*******

In [46]:
i=1
n=5
while(i<=n):
    j=1 
    while(j<=n-i+1):
     print(j,end='')
     j=j+1
    k=1
    while(k<=i-1):
        print('*',end='')
        k=k+1
    l=i-1
    while(l>=1):
        print('*',end='')
        l=l-1
    m=n-i+1
    while(m>=1):
        print(m,end='')
        m=m-1
    print()
    i=i+1

1234554321
1234**4321
123****321
12******21
1********1

In [51]:
i=1
n=3
sum=1
while(i<=n):
    j=1
    while(j<=n):
        print(sum,end='')
        sum=sum+1
        j=j+1
    print()
    i=i+1

123
456
789

In [81]:
n=4
i=1
while(i<=n):
    j=i
    while(j>=1):
        print(j,end='')
        j=j-1
    print()
    i=i+1

1
21
321
4321

In [83]:
i=1
n=4
sum=1
while(i<=n):
    j=1
    while(j<=i):
        print(sum,end='')
        sum=sum+1
        j=j+1
    print()
    i=i+1

1
23
456
78910

In [86]:
i=1
n=4
while(i<=n):
    j=1
    while(j<=i-1):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=n-i+1):
        print(i,end='')
        k=k+1
    print()
    i=i+1

1111
 222
  33
   4

In [87]:
i=1
n=int(input('enter the value of n '))
while(i<=n):
    j=1
    while(j<=n-i):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=i):
        print(k,end='')
        k=k+1
    l=i-1
    while(l>=1):
        print(l,end='')
        l=l-1
    print()
    i+=1

      1
     121
    12321
   1234321
  123454321
 12345654321
1234567654321

In [90]:
i=1
n=int(input('n'))
while(i<=n):
    j=1
    while(j<=n-i):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=i):
        print('*',end='')
        k=k+1   
    print()
    i=i+1

   *
  **
 ***
****

In [91]:
i=1
n=4
while(i<=n):
    j=1
    while(j<=n-i):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=2*i-1):
        print('*',end='')
        k=k+1
    print()
    i=i+1

   *
  ***
 *****
*******

In [95]:
i=1
n=int(input("enter the value of n "))
# upper half
while(i<=n):
    j=1
    # space 
    while(j<=n-i):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=i*2-1):
        print('*',end='')
        k=k+1
    print()
    i=i+1
#lower half 
i=n-1
while(i>=1):
    j=1
    while(j<=n-i):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=i*2-1):
        print('*',end='')
        k=k+1
    print()
    i-=1

           *
          ***
         *****
        *******
       *********
      ***********
     *************
    ***************
   *****************
  *******************
 *********************
***********************
 *********************
  *******************
   *****************
    ***************
     *************
      ***********
       *********
        *******
         *****
          ***
           *

In [97]:
n=5
i=1
while(i<=n):
    j=1
    while(j<=n-i):
     print(' ',end='')
     j=j+1
    k=1
    while(k<=i):
        print(k,end='')
        k+=1
    l=i-1
    while(l>=1):
        print(l,end='')
        l-=1
    print()
    i=i+1

    1
   121
  12321
 1234321
123454321

In [6]:
n=5
i=1
while(i<=n):
    j=1
    while(j<=i-1):
        print(' ',end='')
        j=j+1
    k=1
    while(k<=n-i+1):
        print('*',end='')
        k=k+1
    print()
    i=i+1

*****
 ****
  ***
   **
    *

In [9]:
#using for loop star patterns
n=int(input('Enter the value of n'))
for i in range(1,n+1):
    print(' '*(n-i)+ '*'*(2*i-1))
for j in range (n-1,0,-1):
    print(' '*(n-j)+'*'*(2*j-1))

       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************
 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [23]:
n=5
for i in range(1,n+1):
    print('*'*i+ ' '*(2*(n-i))+'*'*i)
for j in range (n-1,0,-1):
    print('*'*j + ' '*(2*(n-j))+'*'*j )

*        *
**      **
***    ***
****  ****
**********
****  ****
***    ***
**      **
*        *

In [33]:
n=5
for i in range(1,n+1):
    print(' '* (n-i) + '*'+ ' '* (2*i-3)+ ('*' if i > 1 else ' '))
for i in range(n-1,0,-1):
    print(' '* (n-i) + '*'+ ' '* (2*i-3)+ ('*' if i > 1 else ' '))

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

In [52]:
n=3
for i in range (1,n+1):
    print(' '* (i-1)+ '*'+ '  '*(n-i)+ ('*' if i<n else ' '))
for i in range (n-1,0,-1):
    print(' '* (i-1)+ '*'+ '  '*(n-i)+ ('*' if i<n else ' '))

*    *
 *  *
  *
 *  *
*    *

In [50]:
rows = 5
for i in range(1, rows + 1):
    for j in range(1, rows + 1):
        if i == j or i + j == rows + 1:
            print('*', end='')
        else:
            print(' ', end='')
    print()

*   *
 * *
  *
 * *
*   *

In [55]:
n=100
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

5050

In [70]:
n=10
a=0
b=1
for i in range(n):
    nextnum=a+b
    print(a,end='')
    a=b
    b=nextnum

0112358132134

In [6]:
n=int(input())
if n<2:
    print('Not Prime')
else:
    for i in range(2,n):
     if (n%i==0):
       print(' Not Prime')
       break
    else:
     print('prime')

 Not Prime

In [ ]:
n = int(input("Enter a number: "))

if n < 2:
    print("Not Prime")
else:
    for i in range(2, n):
        if n % i == 0:
            print("Not Prime")
            break
    else:
        print("Prime")

# Continue statement

In [17]:
for i in range(1,3):
    if i==2:
     print('hey')
     break
    print('hello')

hello
hey

In [10]:
a=[5,7,-2,10,22,-2,0,5,22,1]
key=int(input("enter the element to search for :"))

def linearsearch(a,key):
    for i in range (0,len(a)):
        if a[i]==key:
            print("element found",a[i],"at index",i)
            return
linearsearch(a,key)

element found 22 at index 4

In [5]:
a=[5,7,-2,10,22,-2,0,5,22,1]
len(a)

10

In [13]:
#reverse an array
a=[23,43,424,434,4,342,23,32]
start=0
end=len(a)-1

while(start<end):
    a[start],a[end]=a[end],a[start]
    start+=1
    end-=1
print(a)

[32, 23, 342, 4, 434, 424, 43, 23]

In [30]:
# swap alternates
arr=[1,3,2,7,11,8]
n=len(arr)
for i in range (0,n-1,2):
    arr[i],arr[i+1]=arr[i+1],arr[i]
    
print(arr)

[3, 1, 7, 2, 8, 11]

In [33]:
# find unique 
arr=[2,2,3,4,4]
def findunique(arr):
    ans=0
    for i in range(len(arr)):
        ans=ans^arr[i]
    return ans
findunique(arr)

3